*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, rgb(192, 26, 103), rgb(73, 4, 73), black, black,rgb(73, 4, 73),rgb(192, 26, 103));
    background-repeat: repeat;
    background-size: contain;
    /*display: inline-block;
    position: fixed;*/
}
#content{
    width: 75vw;
    height: 95vh;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#reticencias{
    display: flex;
    justify-self: flex-end;
    padding: 20px;
}
#perfil{
    display: flex;
    flex-direction: column;
    
}
h1{
    font-size: 35px;
}
#perfil > ul > li{
    list-style: none;
    color: white;
    text-align: center;
}
#infos{
    text-align: center;

}
#infos > li{
    list-style: none;
    color: white;
    
}
#infos > li:hover{
    transform: translate(0, -5px);
}
#infos > li > img{
    margin: auto;
    padding: 3px;

}
#content .skills{
    color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    width: 73vw;
    margin: auto;
}
#content .skills:hover{
    background-color: #594fb1;
    border: none;
}
.skills-list{
   display: none;
    
}
#list{
    padding-top: 5px;
    padding-left: 15px;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
}
#content .idiomas{
    color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    width: 73vw;
    margin: auto;
}
#content .idiomas:hover{
    background-color: #594fb1;
    border: none;
}
.idiomas-list{
   display: none;
    
}
#content .portfolio{
    color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    width: 73vw;
    margin: auto;
}
#content .portfolio:hover{
    background-color: #594fb1;
    border: none;
}
.portfolio-list{
   display: none;
    
}
.portfolio-list > h3{
    
}
.portfolio-list > a{
    color: white;
    text-decoration: none;
}
.portfolio-list > a:hover{
    text-decoration: underline;
}
#content .experiencia{
    color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    width: 73vw;
    margin: auto;
}
#content .experiencia:hover{
    background-color: #594fb1;
    border: none;
}
.experiencia-list{
   display: none;
    
}
.experiencia-list > li{
    list-style: none;
}
.experiencia-list > h3{
    padding-bottom: 3px;
}

@media screen and (min-width: 800px){
    #perfil{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    h1{
        text-align: left;
    }
    /*#perfil > img{
        width: 250px;
        height: 300px;
    }*/
    #infos{
        text-align: left;
    }
}
    